<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <searchstax>
      <account>
        <SearchStudioUsername>hugo.santos@konabos.com</SearchStudioUsername>
        <SearchStudioPassword>Konabos!23!@#$&amp;*</SearchStudioPassword>
      </account>
      <configs>
        <cloud type="SearchStax.Foundation.Core.Configuration.SearchStaxConfiguration, SearchStax.Foundation.Core" coreIndexName="sitecore1022-820">
          <RootItem-0>/sitecore/content/EdgeWebsite/home</RootItem-0>
          <SearchEndpoint>https://ss984481-oi64ob1t-us-east-1-aws.searchstax.com/solr/sitecore1022-820/emselect</SearchEndpoint>
          <SuggestEndpoint>https://ss984481-oi64ob1t-us-east-1-aws.searchstax.com/solr/sitecore1022-820-suggester/emsuggest</SuggestEndpoint>
          <ReleatedSearchEndpoint>
          </ReleatedSearchEndpoint>
          <SearchApiKey>64d9d3225a7f03d96cf01418fe49e3269b8cbb89</SearchApiKey>
          <AuthenticationBasicToken>YXBwODIwLWFwaTpLb25hYm9zITIz</AuthenticationBasicToken>
          <AdminAuthenticationBasicToken>YXBwODIwLWFkbWluOktvbmFib3MhMjM=</AdminAuthenticationBasicToken>
          <SolrUsername>app820-api</SolrUsername>
          <SolrPassword>Konabos!23</SolrPassword>
          <AdminSolrUsername>app820-admin</AdminSolrUsername>
          <AdminSolrPassword>Konabos!23</AdminSolrPassword>
          <HostedSearchPagePassword>
          </HostedSearchPagePassword>
          <AnalyticsEndpoint>https://analytics-us.searchstax.com</AnalyticsEndpoint>
          <AnalyticsApiKey>lqvvpTEyr3hyr20QxXlGASK8y1to57CpPcbrlpdZ2TI</AnalyticsApiKey>
          <IndexCoreName>sitecore1022-820</IndexCoreName>
          <SearchAppName>sitecore10.2-2</SearchAppName>
          <SearchAppId>820</SearchAppId>
          <Account>Konabos</Account>
        </cloud>
      </configs>
    </searchstax>
    <pipelines>
      <searchStaxAddIndexPipeline>
        <processor type="SearchStax.Foundation.Core.Processors.CreateSpecificViewForIndexProcessor, SearchStax.Foundation.Core" />
      </searchStaxAddIndexPipeline>
      <searchStaxSyncWithThemeEditorPipeline>
        <processor type="SearchStax.Foundation.Core.Processors.SyncViewProcessor, SearchStax.Foundation.Core" />
      </searchStaxSyncWithThemeEditorPipeline>
    </pipelines>
  </sitecore>
</configuration>