<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <searchstax>
      <account>
      </account>
      <configs>

      </configs>
    </searchstax>
    <pipelines>
      <searchStaxAddIndexPipeline>
        <processor type="SearchStax.Foundation.Core.Processors.CreateSpecificViewForIndexProcessor, SearchStax.Foundation.Core" />
      </searchStaxAddIndexPipeline>
      <searchStaxSyncWithThemeEditorPipeline>
        <processor type="SearchStax.Foundation.Core.Processors.SyncViewProcessor, SearchStax.Foundation.Core" />
      </searchStaxSyncWithThemeEditorPipeline>
    </pipelines>
  </sitecore>
</configuration>
