<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="searchstax:OpenSearchStaxModuleConfiguration" type="SearchStax.Feature.ControlPanel.Commands.OpenSearchStaxModuleConfigurationCommand, SearchStax.Feature.ControlPanel" />
      <command name="searchstax:OpenSearchStaxSearchConfiguration" type="SearchStax.Feature.ControlPanel.Commands.OpenSearchStaxSearchConfigurationCommand, SearchStax.Feature.ControlPanel" />
      <command name="searchstax:OpenSearchStaxSearchAnalytics" type="SearchStax.Feature.ControlPanel.Commands.OpenSearchStaxSearchAnalyticsCommand, SearchStax.Feature.ControlPanel" />
      <command name="searchstax:OpenSearchStaxSearchPromotions" type="SearchStax.Feature.ControlPanel.Commands.OpenSearchStaxSearchPromotions, SearchStax.Feature.ControlPanel" />
    </commands>
    <services>
      <configurator type="Sitecore.ContentSearch.SolrProvider.DependencyInjection.ContentSearchServicesConfigurator, Sitecore.ContentSearch.SolrProvider">	  
        <patch:delete />
      </configurator>
    </services>
	</sitecore>
</configuration>
