<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <searchstax>
      <account>
      </account>
      <configs>
        <cloud coreIndexName="$(env:SearchStax_IndexCoreName)" type="SearchStax.Foundation.Core.Configuration.SearchStaxConfiguration, SearchStax.Foundation.Core">
          <RootItem>$(env:SearchStax_RootItem)</RootItem>
          <SearchEndpoint>$(env:SearchStax_SearchEndPoint)</SearchEndpoint>
          <SuggestEndpoint>$(env:SearchStax_SuggestEndPoint)</SuggestEndpoint>
          <AuthenticationBasicToken>$(env:SearchStax_AuthenticationBasicToken)</AuthenticationBasicToken>
          <AdminAuthenticationBasicToken>$(env:SearchStax_AdminAuthenticationBasicToken)</AdminAuthenticationBasicToken>
          <SolrUsername>$(env:SearchStax_SolrUsername)</SolrUsername>
          <SolrPassword>$(env:SearchStax_SolrPassword)</SolrPassword>
          <AdminSolrUsername>$(env:SearchStax_AdminSolrUsername)</AdminSolrUsername>
          <AdminSolrPassword>$(env:SearchStax_AdminSolrPassword)</AdminSolrPassword>
          <AdminSolrPassword>$(env:SearchStax_HostedSearchPagePassword)</AdminSolrPassword>
          <AnalyticsEndpoint>$(env:SearchStax_AnalyticsEndpoint)</AnalyticsEndpoint>
          <AnalyticsApiKey>$(env:SearchStax_AnalyticsApiKey)</AnalyticsApiKey>
          <IndexCoreName>$(env:SearchStax_IndexCoreName)</IndexCoreName>
          <SearchAppId>$(env:SearchStax_SearchAppId)</SearchAppId>
          <SearchAppName>$(env:SearchStax_SearchAppName)</SearchAppName>
          <Account>$(env:SearchStax_Account)</Account>
        </cloud>
      </configs>
    </searchstax>
    <pipelines>
      <searchStaxAddIndexPipeline>
        <processor type="SearchStax.Foundation.Core.Processors.CreateSpecificViewForIndexProcessor, SearchStax.Foundation.Core" />
      </searchStaxAddIndexPipeline>
      <searchStaxSyncWithThemeEditorPipeline>
        <processor type="SearchStax.Foundation.Core.Processors.SyncViewProcessor, SearchStax.Foundation.Core" />
      </searchStaxSyncWithThemeEditorPipeline>
    </pipelines>
  </sitecore>
</configuration>
