<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<commands>
			<command name="searchstax:OpenPostInstallWizard" type="SearchStax.Feature.Installation.Commands.OpenPostInstallWizardCommand, SearchStax.Feature.Installation" />
		</commands>
		<pipelines>
			<initialize>
				<processor patch:before="*[starts-with(@type, 'Sitecore.Mvc.Pipelines.Loader.InitializeRoutes')]" mode="on" type="SearchStax.Feature.Installation.UI.InitializeRoutes, SearchStax.Feature.Installation" />
			</initialize>
		</pipelines>
	</sitecore>
</configuration>
